<!doctype html>
<html>
	<head>
		<title>Fake Responsiveness</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
<!-- 		<div class="grid-viewport">

		</div>
		<div class="grid-viewport">

		</div> -->
		<div class="grid-viewport" id="container">
			<img id="image" src="photos/one.jpg" alt="test" />
		</div>
<!-- 		<div class="grid-viewport">

		</div>
		<div class="grid-viewport">

		</div>
		<div class="grid-viewport">

		</div>
		<div class="grid-viewport">

		</div>
		<div class="grid-viewport">

		</div>
		<div class="grid-viewport">

		</div> -->
		<script src='js/jquery.js'></script>
		<script src='js/focustrack.js'></script>
		<script src='js/app.js'></script>
	</body>
</html>
